*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto", serif;
    font-size: 1.8rem;
}

.wrapper{
    margin: 10rem auto;
    max-width: 117rem;
    padding: 3rem;
}
