.timeline{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.timeline__item{
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
    /*border: 1px solid red;*/
}

.timeline__content{
    min-width: 6.5rem;
    max-width: 23rem;
}

.timeline__title{
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 130%;
}

.timeline__text{
    font-style: normal;
    line-height: 130%;
}


.timeline__figures{
    position: relative;
    height: 8.5rem;
}

.timeline__circle{
    position: absolute;
    top: 0;
    left: 0;

    background: #C4C4C4;
    width: 6.1rem;
    height: 6.1rem;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 2.4rem;
    transition: 0.2s;
}

.timeline__line{
    position: absolute;
    width: calc(100% + 10rem);
    top: 3rem;
    left: 0;
    height: .3rem;
    background: #C4C4C4;
    transition: 0.2s;
}

.timeline__line_last{
    display: none;
}

.timeline__item_active .timeline__line,
.timeline__item_active .timeline__circle
{
    background: #37C1FF;
}


@media (min-width: 800px) {
    .timeline__item:active .timeline__line,
    .timeline__item:active .timeline__circle,
    .timeline__item:hover .timeline__line,
    .timeline__item:hover .timeline__circle
    {
        background: #37C1FF;
    }
}

@media (max-width: 800px) {
    .timeline{
        flex-direction: column;
    }

    .timeline__item{
        flex-direction: row;
        padding-right: 0;
        padding-bottom: 5rem;
    }

    .timeline__figures{
        min-width: 8.5rem;
        height: inherit;
    }

    .timeline__line{
        left: 3rem;
        width: 0.3rem;
        height: calc(100% + 5rem);
    }
}
